@model List<DepartmentServiceModel>


@{
    ViewData["Title"] = "Departments";
}

<div class="text-center mt-2 mb-2">
<h3>Departments</h3>
</div>

@for (int i = 0; i < Model.Count; i++)
{
    var department = Model[i];

    <div class="accordion mb-3" id="departments">
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-@i">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#@department.Name" aria-expanded="false" aria-controls="@department.Name">
                    @department.Name
                </button>
            </h2>
            <div id="@department.Name" class="accordion-collapse collapse" aria-labelledby="heading-@i" data-bs-parent="#departments">
                <div class="accordion-body text-center">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">  <a class="btn" asp-area="" asp-controller="Project" asp-route-departmentId="@department.Id" asp-action="All">Projects</a></li>
                        <li class="list-group-item">  <a class="btn" asp-area="" asp-controller="Organization" asp-route-organzationId="@department.OrganizationId" asp-action="Information">Organization</a></li>
                        <li class="list-group-item">    <a class="btn" asp-area="" asp-controller="Employee" asp-route-departmentId="@department.Id" asp-route-organizationId="@department.OrganizationId" asp-action="ByDepartment">Employees</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}





