@model OrganizationServiceModel

<div class="w-100 text-center mt-3 mb-3">
    <div class="row text-center w-100 ">
        <div class="card">
            <h4 class="card-header text-center">@Model.Name</h4>
            <div class="card-body">
                <b class="card-title text-center">Address</b>
                <p class="card-text"><b>Country: </b>@Model.Country, @Model.TownName</p>
            </div>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Departments
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"> <a class="btn" asp-controller="Department" asp-action="All" asp-route-organizationId="@Model.Id">All</a></li>
                                <li class="list-group-item"> <a class="btn" asp-controller="Department" asp-action="Add" asp-route-organizationId="@Model.Id">Add</a></li>
                                <li class="list-group-item"> <a class="btn " asp-controller="Department" asp-action="Edit" asp-route-organizationId="@Model.Id">Edit</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Projects
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul class="list-group list-group-flush">
                                <li class="  list-group-item"><a class="btn " asp-controller="Project" asp-action="All" asp-route-organizationId="@Model.Id">All</a></li>
                                <li class="  list-group-item"><a class="btn " asp-controller="Project" asp-action="Add" asp-route-organizationId="@Model.Id">Add</a></li>
                                <li class="list-group-item"><a class="btn " asp-controller="Project" asp-action="Edit" asp-route-organizationId="@Model.Id">Edit</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            Employees
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"> <a class=" btn " asp-controller="Employee" asp-action="Add" asp-route-organizationId="@Model.Id">Add</a></li>
                                <li class="list-group-item"> <a class=" btn" asp-controller="Employee" asp-action="All" asp-route-organizationId="@Model.Id">All</a></li>
                                <li class="list-group-item"> <a class=" btn" asp-controller="Employee" asp-action="Edit" asp-route-organizationId="@Model.Id">Edit</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>







