@model BugTracker.Models.ServiceModels.Organization.OrganizationServiceModel


<div class="row text-center mt-5">
    <div class="card w-100 ">
        <h4 class="card-header text-center">@Model.Name</h4>
        <div class="card-body">
            <b class="card-title text-center">Address</b>
            <p class="card-text text-center"><b>Country: </b>@Model.Country, @Model.TownName, @Model.StreetName @Model.StreetNumber</p>
            <div class="text-center">
                <a href="#" class="btn btn-secondary col-md-3 col-xl-2 col col-sm-2 mb-1">Departments</a>
                <a href="#" class="btn btn-secondary col-md-3 col-xl-2 col col-sm-2 mb-1">Projects</a>
                <a href="#" class="btn btn-secondary col-md-3 col-xl-2 col col-sm-2 mb-1">Employees</a>
                <a href="#" class="btn btn-secondary col-md-3 col-xl-2 col col-sm-2 mb-1">Bugs</a>
                <div></div>
            </div>
        </div>
    </div>
</div>


